* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navbar {
    background-color:#A002F1;
}

.nav-img {
    width: 50px;
    height: 50px; 
}

#home {
    background-color:  #D79AF6;
    padding-top: 5px;
    padding-bottom: 10px;
}

.coffee-mug, .book-gif {
    max-width: 150px;
}

#about-me {
    background-color: #C05CF3;
    color: #FAF3FE;
    padding-top: 5px;
    padding-bottom: 10px;
}

#contact {
    background-color:  #D79AF6;
    padding-top: 5px;
    padding-bottom: 10px;
}

.contact-list {
    padding-left: 0;
}

#footer {
    background-color: #A002F1;
    color: #FAF3FE;
    padding: 0;
    margin: 0;
    font-size: small;
}

/* learn how to implement themes and create dark theme */

/* Palette URL: http://paletton.com/#uid=54I0k0kl1Wx1x+IcEXDsUWkWEVB */

/* As hex codes */

.color-primary-0 { color: #C05CF3 }	/* Main Primary color */
.color-primary-1 { color: #FAF3FE }
.color-primary-2 { color: #D79AF6 }
.color-primary-3 { color: #AC23F3 }
.color-primary-4 { color: #A002F1 }

.color-secondary-1-0 { color: #F554D2 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FEF2FC }
.color-secondary-1-2 { color: #F896E2 }
.color-secondary-1-3 { color: #F518C4 }
.color-secondary-1-4 { color: #F300BE }

.color-secondary-2-0 { color: #9963F4 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #F8F3FE }
.color-secondary-2-2 { color: #C09EF6 }
.color-secondary-2-3 { color: #772CF3 }
.color-secondary-2-4 { color: #5D03F1 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(192, 92,243,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(250,243,254,1) }
.rgba-primary-2 { color: rgba(215,154,246,1) }
.rgba-primary-3 { color: rgba(172, 35,243,1) }
.rgba-primary-4 { color: rgba(160,  2,241,1) }

.rgba-secondary-1-0 { color: rgba(245, 84,210,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(254,242,252,1) }
.rgba-secondary-1-2 { color: rgba(248,150,226,1) }
.rgba-secondary-1-3 { color: rgba(245, 24,196,1) }
.rgba-secondary-1-4 { color: rgba(243,  0,190,1) }

.rgba-secondary-2-0 { color: rgba(153, 99,244,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(248,243,254,1) }
.rgba-secondary-2-2 { color: rgba(192,158,246,1) }
.rgba-secondary-2-3 { color: rgba(119, 44,243,1) }
.rgba-secondary-2-4 { color: rgba( 93,  3,241,1) }
